@import '~@blueprintjs/core/lib/scss/variables';

.AddBankEntryItem {
  margin: 20px 10px;
  background-color: #62d96b5e;

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    font-weight: 500;
  }

  &-balances {
    margin-bottom: 12px;
  }

  &-balance {
    margin-bottom: 8px;
  }

  &-new-balance-button {
    position: relative;
    right: -15px;
  }

  &-create-button {
    min-width: 120px;
  }
}
