/* Custom fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('./fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat-medium-webfont.woff2') format('woff2'),
    url('./fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('./fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat-black-webfont.woff2') format('woff2'),
    url('./fonts/montserrat-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
